@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8037;
}
.terminal-line {
  display: flex;
  align-items: center;
  font-family: monospace;
  color: #00ff00;
  white-space: pre;
}

.prompt {
  margin-right: 6px;
}

.typed-text {
  display: inline;
  white-space: pre;
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  line-height: 1;
}

.typewriter-cursor::after {
  content: '';
  display: inline-block;
  width: 0.6ch;
  height: 1em;
  background-color: limegreen;
  animation: blink 1s steps(2, start) infinite;
  vertical-align: text-bottom;
}


@keyframes typewriter-cursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.terminal-hidden-input {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

